# Lending Club Case Study

# Notes

- Remove rows with current loan status
- loan_amnt, funded_amnt, funded_amnt_inv
- Consider only loan_amnt - because need to decide before approval
- Data Understanding
- Data cleaning
- Data Analysis
- Recommendations 
- Data Cleaning
- Check the percentage of missing values
- Drop columns with high percentage of missing values
- Perform imputations for less missing percentage values columns (Identify correct metric)
- Median for outliers and mean for no outliers and mode for categorical data
- Drop rows where the missing percentage is quite high

- Drop columns having single value as data as it has no influence on the decision

- For interest rate values are like 6.5%, do data cleaning and convert it into float data
- For Employment length create your own rule and mention the assumptions (required float datatype)

- Don't use variables which shows the behaviour of the applicants during the loan period
- Use only variables that are presented when the applications was made

- Three types of variables
- - related to the applicant (demographic variables such as age, occupation, employment details, etc)
- - Loan characteristics (amount of loan, interest rate, purpose of loan etc)
- - Customer behavior (those which are generated after the loan is approved)

- Customer behavior are not available at the time of loan application, thus they cannot be used as predictors
- Loan status with current to be removed and tag other two as 0 and 1 for easy and clean analysis
- Use cusotmer behavior data for others/past loan of the applicants collected from bureau orgs, drop current loan customer behavior

### Few important variables

- loan amnt
- term
- interest rate
- grade
- subgrade
- annual income
- purpose of loan
- DTI (Debt to income)
- Emp_length
- Loan_Date (Month)
- Home_Ownership
- Verification_status 
- - Income Verified (pay slips, tax returns) 
- - Income source verified (1st party vendors has checked) 
- - Not verified

### Customer behavior variables

- delinq_2yrs
- earlies_cr_line
- inq_last_6mnths
- open_acc
- pub_rec
- revol_bal
- total_acc
- out_prncp
- out_prncp_inv
- total_pymnt
- total_pymnt_inv
- total_rec_prncp
- total_rec_int
- total_rec_late_fee
- last_pymnt_d
- last_pymnt_amnt
- last_credit_pull_d
- application_type

- Customer behavior variables are not available at the time of loan application and cannot be used as predictors
- variables such as acc_now_delinq, chargeoff_with_12months etc (which are related to the applicants past loans) are avaiable from the credit bureau

- Skip Description Variable (Need NLP)


### Univariate Analysis
### Bivariate Analysis

## Importing Necessary Libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Reading the CSV file

In [4]:
df = pd.read_csv('loan/loan.csv')
df.head()

C:\Users\Abhilash Shah\anaconda3\envs\preprep\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [6]:
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,...,0.0,0.0,0.0,0.0,39020.000000,39678.0,0.0,0.0,0.0,0.0
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,...,NaN,NaN,NaN,NaN,0.043260,0.0,NaN,NaN,NaN,NaN
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,...,NaN,NaN,NaN,NaN,0.204324,0.0,NaN,NaN,NaN,NaN
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,...,NaN,NaN,NaN,NaN,2.000000,0.0,NaN,NaN,NaN,NaN